@import "../../../mixin.scss";

.main {
  padding-top: 130px;
  @media (max-width: 1225px) {
    padding-top: 100px;
  }
  @media (max-width: 767px) {
    padding-top: 50px;
  }
}

.list {
  @include throw(li);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  gap: 75px;
  @media (max-width: 1225px) {
    gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
  }
}

.card {
  max-width: 410px;
  margin: 0 auto;
}

.icon {
  margin: 0 0 37px 0;
  @media (max-width: 767px) {
    @include block-size(40px, 40px);
    margin: 0 0 20px 0;
  }
}

.title {
  &__card {
    margin: 0 0 24px 0;
    font-weight: 500;
    font-size: 25px;
  }
  @media (max-width: 767px) {
    &__card {
      margin: 0 0 15px 0;
      font-size: 20px;
    }
  }
}

.desc {
  margin: 0;
  font-weight: 500;
}
