@import "../../mixin.scss";

.main {
  @include d-flex(
    (
      al: center,
      di: column,
    )
  );
  padding-top: 130px;
  @media (max-width: 1225px) {
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 50px;
  }
}

.title {
  width: 100%;
}

.slider {
  &__container {
    position: relative;
    width: 100%;
    margin-bottom: 65px;
  }
  @media (max-width: 767px) {
    &__container {
      max-width: 380px;
      margin-bottom: 30px;
    }
  }
}

.btn {
  @include us-btn-2();
}
