@import "../../../mixin.scss";

.main {
  padding-right: 29px;
}

.list {
  @include throw(li);
  @include d-flex(
    (
      al: center,
    )
  );
}

.item {
  margin-bottom: 5px;
  &:not(:last-child) {
    margin-right: 45px;
  }
}

.link {
  @include navLink;
}

.btn__close {
  @include btn-close();
  position: absolute;
  top: 10px;
  right: 10px;
  @include block-size(20px, 20px);
  & svg {
    @include block-size(20px, 20px);
  }
  & svg > path {
    stroke: #fff;
  }
}
